<html ng-app="IP">

<head>
    <meta charset="UTF-8">
    <title>Check IP</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

    
</head>

<body ng-controller="ipController">
    <center>
            <h3>INPUT IP</h3>
            <input type="text" class="form-control" ng-model="ipCom"><br>
            <button type="button" class="btn btn-success btn-lg" ng-click="addIP(ipCom)">Success</button>

            <br>
            <br>

			<div>
				<table border="1" class="table table-striped ">
					<tr>
						<td>IP</td>
						<td>{{testIP}}</td>
					</tr>
					<tr>
						<td>Country Code</td>
						<td>{{ testCountry_code }}</td>
					</tr>
					<tr>
						<td>Country Name</td>
						<td>{{ testCountry_name }}</td>
					</tr>
					<tr>
						<td>Region Code</td>
						<td>{{ testRegion_code}}</td>
					</tr>
					<tr>
						<td>Region Name</td>
						<td>{{ testRegion_name }}</td>
					</tr>
					<tr>
						<td>City</td>
						<td>{{ testCity }}</td>
					</tr>
					<tr>
						<td>Zip Code</td>
						<td>{{ testZip_code }}</td>
					</tr>
					<tr>
						<td>Time Zone</td>
						<td>{{ testTime_zone }}</td>
					</tr>
					<tr>
						<td>Latitude</td>
						<td>{{ testLatitude }}</td>
					</tr>
					<tr>
						<td>Longitude</td>
						<td>{{ dataIp.longitude }}</td>
					</tr>
					<tr>
						<td>Metro Code</td>
						<td>{{ testMetro_code }}</td>
					</tr>
				</table>
			</div>
			

    </center>
    
</body>
<!-- Angular.js -->
<script type="text/javascript" src="show/controller/showController.js"></script>
</html>